
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPDC Lens &#8212; SeQUeNCe 0.3.0 documentation</title>
    <link rel="stylesheet" href="../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script src="../../_static/jquery.js"></script>
    <script src="../../_static/underscore.js"></script>
    <script src="../../_static/doctools.js"></script>
    <script src="../../_static/language_data.js"></script>
    
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Switch" href="switch.html" />
    <link rel="prev" title="Photon" href="photon.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="switch.html" title="Switch"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="photon.html" title="Photon"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../index.html">SeQUeNCe 0.3.0 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="top.html" accesskey="U">Components</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href="">SPDC Lens</a></li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="module-src.components.spdc_lens">
<span id="spdc-lens"></span><h1>SPDC Lens<a class="headerlink" href="#module-src.components.spdc_lens" title="Permalink to this headline">¶</a></h1>
<p>Model for simulation of a SPDC Lens.</p>
<p>This module defines the SPDCLens class for creation of entangled photons.</p>
<dl class="py class">
<dt id="src.components.spdc_lens.SPDCLens">
<em class="property">class </em><code class="sig-prename descclassname">src.components.spdc_lens.</code><code class="sig-name descname">SPDCLens</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">name</span></em>, <em class="sig-param"><span class="n">timeline</span></em>, <em class="sig-param"><span class="n">rate</span><span class="o">=</span><span class="default_value">1</span></em>, <em class="sig-param"><span class="n">direct_receiver</span><span class="o">=</span><span class="default_value">None</span></em><span class="sig-paren">)</span><a class="headerlink" href="#src.components.spdc_lens.SPDCLens" title="Permalink to this definition">¶</a></dt>
<dd><p>Lens to create entangled photons (via SPDC).</p>
<dl class="py attribute">
<dt id="src.components.spdc_lens.SPDCLens.name">
<code class="sig-name descname">name</code><a class="headerlink" href="#src.components.spdc_lens.SPDCLens.name" title="Permalink to this definition">¶</a></dt>
<dd><p>label for SPDCLens instance.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>str</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.spdc_lens.SPDCLens.timeline">
<code class="sig-name descname">timeline</code><a class="headerlink" href="#src.components.spdc_lens.SPDCLens.timeline" title="Permalink to this definition">¶</a></dt>
<dd><p>timeline for simulation.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="../kernel/timeline.html#src.kernel.timeline.Timeline" title="src.kernel.timeline.Timeline">Timeline</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.spdc_lens.SPDCLens.rate">
<code class="sig-name descname">rate</code><a class="headerlink" href="#src.components.spdc_lens.SPDCLens.rate" title="Permalink to this definition">¶</a></dt>
<dd><p>probability of successful down conversion.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>float</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.spdc_lens.SPDCLens.direct_receiver">
<code class="sig-name descname">direct_receiver</code><a class="headerlink" href="#src.components.spdc_lens.SPDCLens.direct_receiver" title="Permalink to this definition">¶</a></dt>
<dd><p>entity to receive entangled photons.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="../kernel/entity.html#src.kernel.entity.Entity" title="src.kernel.entity.Entity">Entity</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="src.components.spdc_lens.SPDCLens.get">
<code class="sig-name descname">get</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">photon</span></em><span class="sig-paren">)</span><a class="headerlink" href="#src.components.spdc_lens.SPDCLens.get" title="Permalink to this definition">¶</a></dt>
<dd><p>Method to receive a photon for transmission.</p>
<p>Based on rate probability, may split photon into two entangled photons.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>photon</strong> (<a class="reference internal" href="photon.html#src.components.photon.Photon" title="src.components.photon.Photon"><em>Photon</em></a>) – photon to down-convert.</p>
</dd>
</dl>
<dl class="simple">
<dt>Side Effects:</dt><dd><p>May create two entangledd photons and send them to the direct_receiver.</p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="src.components.spdc_lens.SPDCLens.init">
<code class="sig-name descname">init</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#src.components.spdc_lens.SPDCLens.init" title="Permalink to this definition">¶</a></dt>
<dd><p>Implementation of Entity interface (see base class).</p>
</dd></dl>

</dd></dl>

</div>


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="photon.html"
                        title="previous chapter">Photon</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="switch.html"
                        title="next chapter">Switch</a></p>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/references/components/spdc_lens.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="switch.html" title="Switch"
             >next</a> |</li>
        <li class="right" >
          <a href="photon.html" title="Photon"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../index.html">SeQUeNCe 0.3.0 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="top.html" >Components</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href="">SPDC Lens</a></li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2020.
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 3.1.2.
    </div>
  </body>
</html>