
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch &#8212; SeQUeNCe 0.2.3 documentation</title>
    <link rel="stylesheet" href="../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script src="../../_static/jquery.js"></script>
    <script src="../../_static/underscore.js"></script>
    <script src="../../_static/doctools.js"></script>
    <script src="../../_static/language_data.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Entanglement Management" href="../entanglement_management/top.html" />
    <link rel="prev" title="SPDC Lens" href="spdc_lens.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../entanglement_management/top.html" title="Entanglement Management"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="spdc_lens.html" title="SPDC Lens"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../index.html">SeQUeNCe 0.2.3 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="top.html" accesskey="U">Components</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href="">Switch</a></li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="module-src.components.switch">
<span id="switch"></span><h1>Switch<a class="headerlink" href="#module-src.components.switch" title="Permalink to this headline">¶</a></h1>
<p>Model for simulation of an optical switch.</p>
<p>This module defines the Switch class for directing the flow of photons.
The switch is usually created as part of a time bin QSDetector object, but may be used individually.</p>
<dl class="py class">
<dt id="src.components.switch.Switch">
<em class="property">class </em><code class="sig-prename descclassname">src.components.switch.</code><code class="sig-name descname">Switch</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">name</span><span class="p">:</span> <span class="n">str</span></em>, <em class="sig-param"><span class="n">timeline</span><span class="p">:</span> <span class="n">Timeline</span></em><span class="sig-paren">)</span><a class="headerlink" href="#src.components.switch.Switch" title="Permalink to this definition">¶</a></dt>
<dd><p>Class for a simple optical switch.</p>
<dl class="py attribute">
<dt id="src.components.switch.Switch.name">
<code class="sig-name descname">name</code><a class="headerlink" href="#src.components.switch.Switch.name" title="Permalink to this definition">¶</a></dt>
<dd><p>label for switch instance.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>str</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.switch.Switch.timeline">
<code class="sig-name descname">timeline</code><a class="headerlink" href="#src.components.switch.Switch.timeline" title="Permalink to this definition">¶</a></dt>
<dd><p>timeline for simulation.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="../kernel/timeline.html#src.kernel.timeline.Timeline" title="src.kernel.timeline.Timeline">Timeline</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.switch.Switch.start_time">
<code class="sig-name descname">start_time</code><a class="headerlink" href="#src.components.switch.Switch.start_time" title="Permalink to this definition">¶</a></dt>
<dd><p>simulation start time (in ps) for transmission.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>int</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.switch.Switch.frequency">
<code class="sig-name descname">frequency</code><a class="headerlink" href="#src.components.switch.Switch.frequency" title="Permalink to this definition">¶</a></dt>
<dd><p>frequency with whitch to switch destinations.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>float</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.switch.Switch.basis_list">
<code class="sig-name descname">basis_list</code><a class="headerlink" href="#src.components.switch.Switch.basis_list" title="Permalink to this definition">¶</a></dt>
<dd><p>0/1 list denoting which receiver to rout photons to each period.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>List[int]</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.switch.Switch.interferometer">
<code class="sig-name descname">interferometer</code><a class="headerlink" href="#src.components.switch.Switch.interferometer" title="Permalink to this definition">¶</a></dt>
<dd><p>linked interferometer to receive photons in basis 1.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="interferometer.html#src.components.interferometer.Interferometer" title="src.components.interferometer.Interferometer">Interferometer</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt id="src.components.switch.Switch.detector">
<code class="sig-name descname">detector</code><a class="headerlink" href="#src.components.switch.Switch.detector" title="Permalink to this definition">¶</a></dt>
<dd><p>linked SPD to receive photons in basis 0.</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="detector.html#src.components.detector.Detector" title="src.components.detector.Detector">Detector</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="src.components.switch.Switch.get">
<code class="sig-name descname">get</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">photon</span><span class="p">:</span> <span class="n"><a class="reference internal" href="photon.html#src.components.photon.Photon" title="src.components.photon.Photon">src.components.photon.Photon</a></span></em><span class="sig-paren">)</span> &#x2192; None<a class="headerlink" href="#src.components.switch.Switch.get" title="Permalink to this definition">¶</a></dt>
<dd><p>Method to receive photon for transmission</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>photon</strong> (<a class="reference internal" href="photon.html#src.components.photon.Photon" title="src.components.photon.Photon"><em>Photon</em></a>) – photon to transmit.</p>
</dd>
</dl>
<dl class="simple">
<dt>Side Effects:</dt><dd><p>May call <cite>get</cite> method of attached detector or interferometer.</p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="src.components.switch.Switch.init">
<code class="sig-name descname">init</code><span class="sig-paren">(</span><span class="sig-paren">)</span> &#x2192; None<a class="headerlink" href="#src.components.switch.Switch.init" title="Permalink to this definition">¶</a></dt>
<dd><p>Implementation of Entity interface (see base class).</p>
</dd></dl>

</dd></dl>

</div>


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="spdc_lens.html"
                        title="previous chapter">SPDC Lens</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../entanglement_management/top.html"
                        title="next chapter">Entanglement Management</a></p>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/references/components/switch.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../entanglement_management/top.html" title="Entanglement Management"
             >next</a> |</li>
        <li class="right" >
          <a href="spdc_lens.html" title="SPDC Lens"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../index.html">SeQUeNCe 0.2.3 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="top.html" >Components</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href="">Switch</a></li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2020.
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 3.1.2.
    </div>
  </body>
</html>